$clr-bg: hsla(180, 23%, 24%, 93%);
$clr-white: hsl(0, 0%, 100%);
$clr-white-80: hsla(0, 0%, 100%, 80%);
$clr-white-70: hsla(0, 0%, 100%, 70%);
$clr-red: hsl(0, 71%, 70%);
$clr-blue: hsl(182, 50%, 57%);

$ff-primary: "Raleway", sans-serif;
